<div id="wrapper">

<% if logged_in? && user_admin? %>
        <!-- Navigation -->
    <%= render "admins/share/navbar" %>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Welcome admin</h1>
                </div>
                    <!-- /.col-lg-12 -->
            </div>
                <!-- /.row -->
        </div>
            <!-- /.container-fluid -->  
    </div>
<% else %>

    <%= render 'admins/login' %>
<% end %>


        <!-- Page Content -->
     
        <!-- /#page-wrapper -->
</div>