

<div id="wrapper">
<%= render "layouts/nav" %>
<center><h1 color="blue">Đăng bài mới</h1></center>
<%= render 'form', post: @bai_post %>

<center ><%= link_to 'Back', bai_posts_path %></center>
</div>